/* CSS Stylesheet for Sam's Landing Page */

* {
    box-sizing: border-box;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
    
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    
}

header, footer {
    background-color: #1F2937;
    padding: 20px 170px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.header-links {
    display: flex;
    gap: 15px;
}

.upper {
    background-color: #1F2937;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 170px 100px;
    gap: 30px;
}

.upper-left-text {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.upper-right-img {
    flex: 1;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-left-text-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900; 
}

.upper-left-text-main {
    color: whitesmoke;
}

.upper-left-button {
    display: flex;
}

.button-signup {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 8px;
}

.middle-flex {
    background-color: white;
}

